POSTGRES_USER=spool
POSTGRES_PASSWORD=spoolpass
POSTGRES_DB=spooldb
BACKUP_INTERVAL=86400
DOCKER_PLATFORM=linux/arm64/v8
SPOOL_API_BASE_URL=http://localhost:8000
SPOOL_API_TOKEN=
SPOOL_OFFLINE_CACHE=1
